@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #b3694c;
    background-size: cover;
}
img {
    border: 5px solid black;
}
h1 {
    font-family: "Nerko One", serif;
    text-shadow: 1px 1px 1px yellow;
    font-size: 40px;
}

h2,h3 {
    font-family: "Nerko One", serif;
    font-size: 30px;
}

p {
    font-family:"PT Serif", serif;
    font-size: 22px;
}

ol {
    list-style-type:upper-roman;
 }

h3.bon {
    text-shadow: 1px 1px 1px black;
}